# Try

- CV -> Data의 개수가 적어서 그런지 성능이 좋지 못함
- remove release_time -> 개봉 시기와의 관계를 모델이 잘 인지하지 못할 것이라고 생각하여 제외했으나 성능 저하

# Todo

- 정규분포 변환

## 데이터 및 라이브러리 로딩

In [260]:
import pandas as pd
import seaborn as sns
import os, sys, shutil, time
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor

In [255]:
ROOT_DIR        = './'
DATA_ROOT_DIR   = os.path.join(ROOT_DIR, 'Data')
RESLUT_DIR      = os.path.join(ROOT_DIR, 'Resluts')

In [233]:
train = pd.read_csv(os.path.join(DATA_ROOT_DIR, 'movies_train.csv'))
test = pd.read_csv(os.path.join(DATA_ROOT_DIR, 'movies_test.csv'))
submission = pd.read_csv(os.path.join(DATA_ROOT_DIR, 'submission.csv'))

## 데이터탐색

In [234]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [235]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [236]:
test.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor
0,용서는 없다,시네마서비스,느와르,2010-01-07,125,청소년 관람불가,김형준,3.005290e+05,2,304,3
1,아빠가 여자를 좋아해,(주)쇼박스,멜로/로맨스,2010-01-14,113,12세 관람가,이광재,3.427002e+05,4,275,3
2,하모니,CJ 엔터테인먼트,드라마,2010-01-28,115,12세 관람가,강대규,4.206611e+06,3,419,7
3,의형제,(주)쇼박스,액션,2010-02-04,116,15세 관람가,장훈,6.913420e+05,2,408,2
4,평행 이론,CJ 엔터테인먼트,공포,2010-02-18,110,15세 관람가,권호영,3.173800e+04,1,380,1

## 데이터 전처리

In [237]:
# Replace nan with zero
train.fillna(0, inplace=True)
test.fillna(0, inplace=True)

In [238]:
# 감독명 : 너무 다양해서 제거
train = train.drop(['director'],axis = 1)
test = test.drop(['director'],axis = 1)

In [239]:
# 제목 : 의미가 없기 때문에 제거
train = train.drop(['title'],axis= 1)
test = test.drop(['title'],axis= 1)

In [240]:
# 상위 5개의 배급사를 제외하고 '기타'로처리
distributor_list = train.distributor.value_counts()[:5]
def func(distributor):
    if distributor in distributor_list:
        return distributor
    else:
        return '기타'

train['distributor'] = train['distributor'].apply(lambda x : func(x))
test['distributor'] = test['distributor'].apply(lambda x : func(x))

In [241]:
# 개봉일을 바탕으로 년,월 변수 생성
train['year'] = train['release_time'].apply(lambda x: str(x[:4]))
train['month'] = train['release_time'].apply(lambda x: str(x[5:7]))
train =  train.drop(['release_time'],axis = 1)

test['year'] = test['release_time'].apply(lambda x: str(x[:4]))
test['month'] = test['release_time'].apply(lambda x: str(x[5:7]))
test =  test.drop(['release_time'],axis = 1)

In [242]:
# 원핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [243]:
train_x = train.drop(['box_off_num','num_actor'],axis= 1)
test    = test.drop(['num_actor'], axis=1)
train_y = train['box_off_num']

In [244]:

sc = MinMaxScaler()
scaled_train_x  = sc.fit_transform(train_x)
scaled_test     = sc.transform(test)

## 모델정의 및 학습

In [245]:
train_x = train.drop(['box_off_num','num_actor'],axis= 1)
train_y = train['box_off_num']

In [246]:
model=RandomForestRegressor(n_estimators=100)
model.fit(train_x,train_y)

RandomForestRegressor()

# 학습 된 모델로 예측 데이터 생성

In [249]:
pred = model.predict(test)

## 제출파일 생성

In [250]:
submission = pd.read_csv(os.path.join(DATA_ROOT_DIR, './submission.csv'))
submission

               title  box_off_num
0             용서는 없다            0
1        아빠가 여자를 좋아해            0
2                하모니            0
3                의형제            0
4              평행 이론            0
..               ...          ...
238        해에게서 소년에게            0
239           울보 권투부            0
240             어떤살인            0
241        말하지 못한 비밀            0
242  조선안방 스캔들-칠거지악 2            0

[243 rows x 2 columns]

In [251]:
submission['box_off_num'] = pred

In [252]:
submission

               title  box_off_num
0             용서는 없다   2718041.87
1        아빠가 여자를 좋아해   1583125.87
2                하모니   1781719.59
3                의형제   1766640.90
4              평행 이론    945265.87
..               ...          ...
238        해에게서 소년에게     98692.94
239           울보 권투부     14377.67
240             어떤살인    293149.84
241        말하지 못한 비밀      5302.87
242  조선안방 스캔들-칠거지악 2       997.13

[243 rows x 2 columns]

In [256]:
now = time.strftime('%m%d_%H%M%S', time.localtime(time.time()))
submission.to_csv(os.path.join(RESLUT_DIR, f'baseline_{now}.csv'), index = False)